@model MoviesDeleteViewModel
<form asp-controller="Movies" asp-action="Delete" method="post">
    <div class="alert alert-danger" role="alert">
        <p>Are you sure you want to delete the movie @Model.Name?</p>
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-controller="Movies" asp-action="Delete"class="btn btn-primary">No</a>
        <input type="hidden" asp-for="Id" />
    </div>
</form>