


<h2>Registered</h2>
<div class="alert alert-primary" role="alert">
    Thank you for registering <a asp-controller="Movies"
                                 asp-action="Index" class="alert-link">click here</a> and check out our movies!
</div>

